@mixin flexCenter($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  @media only screen and (min-width: 601px) {
    .container {
      width: 85%;
    }
  }
  
  @media only screen and (min-width: 993px) {
    .container {
      width: 70%;
    }
  }

  .Parallax{
    display: contents;
    .container {
        /* margin: 0 auto;
        max-width: 1280px; */
        width: 100%;
        .parallax-container {
            position: relative;
            overflow: hidden;
            height: 700px;
            .parallax {
             position: absolute;
             top: 0;
             left: 0;
             right: 0;
             bottom: 0;
             z-index: -1;
             img {
                width: 400px;
                opacity: 0;
                position: absolute;
                left: 50%;
                bottom: 0;
                min-width: 100%;
                min-height: 100%;
                -webkit-transform: translate3d(0, 0, 0);
                        transform: translate3d(0, 0, 0);
                -webkit-transform: translateX(-50%);
                        transform: translateX(-50%);
              } 
           }
           .section {
            padding-top: 1rem;
            padding-bottom: 1rem;
            background-color: white;
            text-align: center;
            h2{
                font-size: 3em;
            }
           
          }
          
          .section.no-pad {
            padding: 0;
          }
          }
      }
    

  }