@import '../../App.scss';

.Profile {  
  max-width: 100vw;
  min-height: 50vh ;
  display:flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 30px;
  .ProfileUp{
    display:flex;
    flex-direction: row;
  }
  .Details{
    display:flex;
    flex-direction: column;
    margin-left: 4rem;
  }
  img{
    object-fit: cover;
    width: 50vw;
  }
  h1{
    text-align: center;
    color: $dark-green;
  }
  .p{
    text-align: center;
    font-size: 1.5rem;
    margin-top:10px;
    
    color: $dark-green;
  }
  h2 {
      @include title;
      
  }
  h3 {
      @include subtitle;
  }  
  .ProfileDown{
    p{
      font-size: 1.2rem;
    }
  }
}
