@import '../../App.scss';
/* .react-responsive-modal-modal{

    border-radius: 20px;
    .react-responsive-modal-closeButton{
        svg{

        }
    }
    .form-container{
        background-color: transparent;
        box-shadow: none;
    }
    react-responsive-modal-closeButton
} */