@import '../../App.scss';

.Blog {
  @include flexCenter(column, center, center);

  background-size: 100%;
  .post-container{
    @include flexCenter(column, center, center);
    width: 100%;
    button{
      margin: 20px;
    }
    .post{
      @include flexCenter(row, center, start);
      /* border-radius: 16px; */
      min-width: 300px;
      max-width: 800px;
      margin: 0 auto;
      padding: 50px;
      border: 1px solid black;
      img{
        width: 200px;
        height: 200px;
      }
      .post-content{
        margin-left: 20px;
      }
    }
  }
}
