@import '../../App.scss';
.Login{
    h2{
        color: $dark-green;
        margin-bottom: 10px;
    }
    input{
        margin: 10px;
        padding: 3px 0px;
        border: 1px solid black;
    }
    
}
.react-responsive-modal-modal{
    border-radius: 20px;
    .react-responsive-modal-closeButton{
        
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: flex-end;
            &:hover{
                color: none;
                background-color: transparent;
                border: none;
                padding: 0px;
                border-radius: 0px;
              
            }
    }
    
    .form-container{
        background-color: transparent;
        box-shadow: none;
        input { outline: none; }
        border-radius: 10px;
    }
}