@mixin mainTitle {
  font-size: 2rem;
}
@mixin title {
  font-size: 1.5rem;
}
@mixin subtitle {
  font-size: 1.2rem;
}
@mixin normalText {
  font-size: 1rem;
}

@mixin flexCenter($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

body {
  &::-webkit-scrollbar {
    display: none;
  }
}

button {
  width: 200px;
  background: none;
  background-color: darkgreen;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: 0.5s;
  &:hover {
    background-color: green;
    border-radius: 16px;
  }
}

table{
  border: 1px solid black;
  tr{
    border: 1px solid black;
  }
  td{
    padding: 5px;
  }
}

.text-centered {
  text-align: center;
}

.link {
  color: black;
  text-decoration: none;
  height: 100%;
}

.App {
  h1 {
    @include mainTitle;
  }
}

.spinner {
  width: 100%;
  height: 100px;
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #dfc;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
}

.form-container {
  @include flexCenter(column, center, center);
  background-color: lightgray;
  width: auto;
  margin: 20px 0;
  padding: 10px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.75);
  h2 {
    margin: 5px 0;
  }
  .form {
    @include flexCenter(column, center, center);
  }
  .checkbox {
    @include flexCenter(row, center, center);
    margin: 5px 0;
  }
  .form-field {
    @include flexCenter(column, center, center);
    margin: 8px 0;
    .textarea {
      width: 177px;
      max-width: 177px;
    }
  }
  button {
    margin: 5px 0;
  }
  .logginButton {
    margin-top: 20px;
  }
}

.Navbar {
  background-color: rgb(156, 211, 156);
  .navbar-child {
    @include flexCenter(row, space-between, center);
    height: 80px;
    margin: 0 10px;
    a {
      @include flexCenter(row, center, center);
    }
    .nav-left {
      @include flexCenter(row, center, center);
      height: 100%;
    }
    .nav-right {
      @include flexCenter(row, center, center);
      height: 100%;
    }
    .nav-btn {
      text-align: center;
      width: 150px;
      padding: 20px 10px;
      font-size: 1.4rem;
      margin: 5px 0;
      transition: 0.75s;
      color: whitesmoke;
      &:hover {
        color: black;
        background-color: rgb(100, 136, 100);
      }
    }
  }
}

.link-btn {
  text-align: center;
  margin: 0 auto;
  width: 150px;
  padding: 20px 10px;
  font-size: 1.4rem;
  margin: 5px 0;
  transition: 0.75s;
  color: whitesmoke;
  text-decoration: none;
  background-color: rgb(100, 136, 100);
  &:hover {
    color: black;
    background-color: white;
  }
}

.plant-cards-container {
  @include flexCenter(column, center, center);
  flex-wrap: wrap;
  margin: 100px;
  .plant-card {
    @include flexCenter(column, center, center);
    img {
      width: 250px;
    }
    h2 {
      @include title;
    }
    h3 {
      @include subtitle;
    }
    width: 300px;
    height: 400px;
    margin: 0 auto;
    padding: 30px 0px;
    margin: 30px;
    -webkit-box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
    &:hover {
      transform: scale3d(1.02, 1.02, 1);
    }
  }
}

.Homepage {
  @include flexCenter(column, center, center);
  color: darkslategrey;
  button {
    margin: 10px 1px;
  }
  .plant-cards-container {
    @include flexCenter(row, center, center);
    flex-wrap: wrap;
    margin: 1px;
    .plant-card {
      @include flexCenter(column, center, center);
      img {
        width: 250px;
      }
      h2 {
        @include title;
      }
      h3 {
        @include subtitle;
      }
      width: 300px;
      height: 400px;
      margin: 0 auto;
      padding: 30px 0px;
      margin: 30px;
      -webkit-box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.75);
      transition: 0.5s;
      &:hover {
        transform: scale3d(1.02, 1.02, 1);
      }
    }
  }
}

.Forum {
  @include flexCenter(column, center, center);
}

.Store {
  a,
  h2,
  h3 {
    @include flexCenter(column, center, center);
  }
}

.Signup {
  @include flexCenter(column, center, center);
}

.Login {
  div {
    @include flexCenter(column, center, center);
  }
}

.Admin {
  @include flexCenter(column, center, center);
  hr {
    width: 100%;
  }
}

.Profile {
  @include flexCenter(column, center, center);
  .plant-cards-container {
    @include flexCenter(column, center, center);
    flex-wrap: wrap;
    margin: 100px;
    .plant-card {
      @include flexCenter(column, center, center);
      img {
        width: 250px;
      }
      h2 {
        @include title;
      }
      h3 {
        @include subtitle;
      }
      width: 300px;
      height: 400px;
      margin: 0 auto;
      padding: 30px 0px;
      margin: 30px;
      -webkit-box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.75);
      transition: 0.5s;
      &:hover {
        transform: scale3d(1.02, 1.02, 1);
      }
    }
  }
}

.PlantDetails {
  @include flexCenter(row, center, center);
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 30px;
  img {
    width: 500px;
  }
  button {
    margin: 10px;
  }
  .infoPlantDetails {
    @include flexCenter(column, center, left);
    h2,
    h3 {
      line-height: 0.02;
    }
    margin-left: 4rem;
  }
}
