@mixin mainTitle{
  font-size: 2rem;
}
@mixin title {
  font-size: 1.5rem;
}
@mixin subtitle{
  font-size: 1.2rem;
}
@mixin normalText{
  font-size: 1rem
}

@mixin flexCenter($direction, $justify, $align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.link{
  color: black; 
  text-decoration: none;
  height: 100%;
}

.button{
  color: black;
}

body{
  &::-webkit-scrollbar {
    display: none;
  }
}

.App{
  text-align: center;
  h1{
    @include mainTitle;
  }
}

.Navbar{
  background-color: rgb(156, 211, 156);
  .navbar-child{
    @include flexCenter(row, space-between, center);
    height: 80px;
    margin: 0 10px;
    a{
      @include flexCenter(row, center, center);
    }
    .nav-left{
      @include flexCenter(row, center, center);
      height: 100%;      
    }
    .nav-right{
      @include flexCenter(row, center, center);
      height: 100%;
    }
    .nav-btn{
      @include flexCenter(row, center, center);
      width: 150px;
      padding: 20px 10px;
      font-size: 1.4rem;
      margin: 5px 0;
      transition: .75s;
      &:hover{
        color: whitesmoke;
        background-color: rgb(100, 136, 100);
      }
    }
  }
}

.Homepage{
  color: darkslategrey;
  .plant-cards-container{
    @include flexCenter(row, center, center);
    flex-wrap: wrap;
    margin: 100px;
    .plant-card{
      img{
        width: 250px;
      }
      h2{
        @include title
      }
      h3{
        @include subtitle
      }
      width: 300px;
      height: 400px;
      margin: 0 auto;
      padding: 30px 0px;
      margin: 30px;
      -webkit-box-shadow: 0px 10px 16px 2px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 10px 16px 2px rgba(0,0,0,0.75);
      box-shadow: 0px 10px 16px 2px rgba(0,0,0,0.75);
      transition: 0.5s;
      &:hover{
        transform: scale3d(1.02, 1.02, 1);
      }
    }
  }
}

.Profile{
  .plant-cards-container{
    background-color: coral;
    @include flexCenter(row, center, center);
    flex-wrap: wrap;
    margin: 100px;
    .plant-card{
      img{
        width: 250px;
      }
      h2{
        @include title
      }
      h3{
        @include subtitle
      }
      width: 300px;
      height: 400px;
      margin: 0 auto;
      padding: 30px 0px;
      margin: 30px;
      -webkit-box-shadow: 0px 10px 16px 2px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 10px 16px 2px rgba(0,0,0,0.75);
      box-shadow: 0px 10px 16px 2px rgba(0,0,0,0.75);
      transition: 0.5s;
      &:hover{
        transform: scale3d(1.02, 1.02, 1);
      }
    }
  }
}

.PlantDetails{

}

// @import url(https://fonts.googleapis.com/css?family=Montserrat)

// $offwhite: darken(white, 10%)
// $darkblue: rgb(50,50,60)

// *, *::after, *::before
//   box-sizing: border-box

// .container
//   display: flex
//   flex-direction: column
//   justify-content: center
//   height: 100vh
//   width: 100vw
//   text-align: center

// button
//   font-family: 'Montserrat', sans-serif
//   text-transform: uppercase
  
// button
//   position: relative
//   border: none
//   font-size: 18px
//   transition: color 0.5s, transform 0.2s, background-color 0.2s
//   outline: none
//   border-radius: 3px
//   margin: 0 10px
//   padding: 23px 33px
//   border: 3px solid transparent
  
//   &:active
//     transform: translateY(3px)
  
//   &::after, &::before
//     border-radius: 3px
  
// .shrink-border
//   background-color: transparent
//   color: darken($darkblue, 10%)
  
//   &:hover
//     background-color: transparent
//     box-shadow: none
//     color: $offwhite
  
//   &::before
//     content: ""
//     position: absolute
//     top: 0
//     left: 0
//     width: 100%
//     height: 100%
//     border: 3px solid darken($darkblue, 10%)
//     transition: opacity 0.3s, border 0.3s

//   &:hover::before
//     opacity: 0
  
//   &::after
//     content: ""
//     position: absolute
//     top: 0
//     left: 0
//     width: 100%
//     height: 100%
//     background-color: transparent
//     border: 3px solid $offwhite
//     opacity: 0
//     z-index: -1
//     transform: scaleX(1.1) scaleY(1.3)
//     transition: transform 0.3s, opacity 0.3s
  
//   &:hover::after
//     opacity: 1
//     transform: scaleX(1) scaleY(1)
 
// .material-bubble
//   background-color: transparent
//   color: darken($darkblue, 10%)
//   border: none
//   overflow: hidden
//   box-shadow: none
  
//   &:hover
//     color: $offwhite
  
//   &::before
//     content: ""
//     position: absolute
//     top: 0
//     left: 0
//     width: 100%
//     height: 100%
//     border: 3px solid darken($darkblue, 10%)
//     transition: opacity 0.3s, border 0.3s

//   &:hover::before
//     opacity: 0
  
//   &::after
//     content: ""
//     position: absolute
//     top: 0
//     left: 0
//     width: 200px
//     height: 200px
//     background-color: lighten($darkblue, 10%)
//     border-color: transparent
//     border-radius: 50%
//     transform: translate(-10px, -70px) scale(0.1)
//     opacity: 0
//     z-index: -1
//     transition: transform 0.3s, opacity 0.3s, background-color 0.3s
  
//   &:hover::after
//     opacity: 1
//     transform-origin: 100px 100px
//     transform: scale(1) translate(-10px, -70px)
